[submodule "gpu-dawn/libs/dawn"]
	path = gpu-dawn/libs/dawn
	url = https://github.com/hexops/dawn.git
	shallow = true
	branch = "generated-2022-04-21"
[submodule "gpu-dawn/libs/DirectXShaderCompiler"]
	path = gpu-dawn/libs/DirectXShaderCompiler
	url = https://github.com/hexops/DirectXShaderCompiler
	shallow = true
	branch = "mach"

[submodule "examples/libs/zmath"]
	path = examples/libs/zmath
	url = https://github.com/PiergiorgioZagaria/zmath
[submodule "examples/libs/zigimg"]
	path = examples/libs/zigimg
	url = https://github.com/slimsag/zigimg
	branch = zig-master
[submodule "examples/assets"]
	path = examples/assets
	url = https://github.com/hexops/mach-example-assets
[submodule "freetype/upstream"]
	path = freetype/upstream
	url = https://github.com/hexops/freetype
