[submodule "gpu-dawn/libs/dawn"]
	path = libs/gpu-dawn/libs/dawn
	url = https://github.com/hexops/dawn.git
	shallow = true
	branch = "generated-2022-08-06"
[submodule "gpu-dawn/libs/DirectXShaderCompiler"]
	path = libs/gpu-dawn/libs/DirectXShaderCompiler
	url = https://github.com/hexops/DirectXShaderCompiler
	shallow = true
	branch = "mach"

[submodule "freetype/upstream"]
	path = libs/freetype/upstream
	url = https://github.com/hexops-graveyard/freetype
[submodule "glfw/upstream"]
	path = libs/glfw/upstream
	url = https://github.com/hexops-graveyard/glfw
[submodule "libs/gpu-dawn/libs/xcode-frameworks"]
	path = libs/gpu-dawn/libs/xcode-frameworks
	url = https://github.com/hexops/xcode-frameworks
[submodule "libs/glfw/libs/xcode-frameworks"]
	path = libs/glfw/libs/xcode-frameworks
	url = https://github.com/hexops/xcode-frameworks
