[submodule "gpu-dawn/libs/dawn"]
	path = libs/gpu-dawn/libs/dawn
	url = https://github.com/hexops/dawn.git
	shallow = true
	branch = "generated-2022-08-06"
[submodule "gpu-dawn/libs/DirectXShaderCompiler"]
	path = libs/gpu-dawn/libs/DirectXShaderCompiler
	url = https://github.com/hexops/DirectXShaderCompiler
	shallow = true
	branch = "mach"

[submodule "examples/libs/zmath"]
	path = examples/libs/zmath
	url = https://github.com/PiergiorgioZagaria/zmath
[submodule "examples/libs/zigimg"]
	path = examples/libs/zigimg
	url = https://github.com/slimsag/zigimg
	branch = zig-master
[submodule "freetype/upstream"]
	path = libs/freetype/upstream
	url = https://github.com/hexops/freetype
[submodule "tools/libs/apple_pie"]
	path = tools/libs/apple_pie
	url = https://github.com/Luukdegram/apple_pie
[submodule "glfw/upstream"]
	path = libs/glfw/upstream
	url = https://github.com/hexops/glfw
[submodule "sysaudio/upstream"]
	path = libs/sysaudio/upstream
	url = https://github.com/hexops/soundio
[submodule "basisu/upstream"]
	path = libs/basisu/upstream
	url = https://github.com/hexops/basisu
[submodule "examples/image-blur/assets"]
	path = examples/image-blur/assets
	url = https://github.com/hexops/mach-example-assets
[submodule "examples/textured-cube/assets"]
	path = examples/textured-cube/assets
	url = https://github.com/hexops/mach-example-assets
[submodule "examples/gkurve/assets"]
	path = examples/gkurve/assets
	url = https://github.com/hexops/mach-example-assets
