[submodule "upstream/glfw"]
	path = glfw/upstream/glfw
	url = https://github.com/glfw/glfw.git
	
[submodule "upstream/vulkan_headers"]
	path = glfw/upstream/vulkan_headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git