[submodule "libs/dawn"]
	path = libs/dawn
	url = https://github.com/hexops/dawn.git
	shallow = true
	branch = "generated-2022-08-06"
[submodule "libs/DirectXShaderCompiler"]
	path = libs/DirectXShaderCompiler
	url = https://github.com/hexops/DirectXShaderCompiler
	shallow = true
	branch = "mach"
[submodule "libs/xcode-frameworks"]
	path = libs/xcode-frameworks
	url = https://github.com/hexops/xcode-frameworks
